:root {
  --background-color: #780000;
  --primary-color: #003049;
  --secondary-color: #669bbc;
  --text-color: #242424;
  --accent-color: #fdf0d5;
  --gray-color: #b9b9b9;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  margin-top: 10px;
}

.header-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 20px;
  box-shadow: 0 8px 30px rgb(0, 0, 0, 0.12);
}

ul,
li {
  list-style-type: none;
}

.header-navbar-right ul {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.5s ease;
}

.header-navbar-right .hamburger {
  display: none;
}

.header-navbar-right ul li {
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.header-navbar-right ul li:hover {
  color: var(--secondary-color);
  scale: 0.9;
}

/* Hero Section */

.hero-section {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 20px;
}
.hero-left {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.hero-left h1 {
  font-size: 72px;
  color: var(--primary-color);
  margin: 0;
}

.hero-left span {
  font-weight: bolder;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.hero-left span:hover {
  color: var(--background-color);
}

.hero-left p {
  width: 80%;
}

.hero-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-right-image img {
  width: 800px;
  height: auto;
}

.checkbox-menu-items {
  display: none;
}
#checkbox-menu {
  display: none;
}

@media (max-width: 768px) {
  .header-navbar-right ul {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--accent-color);
    margin: 0 20px;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  #checkbox-menu:checked + .checkbox-menu-items + .header-navbar-right ul {
    max-height: 300px;
  }
  .checkbox-menu-items {
    display: flex;
  }
  .header-navbar-right .hamburger {
    display: block;
  }
  .hero-left {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero-left h1 {
    width: 80%;
    font-size: 56px;
    line-height: 0.9;
  }
  .hero-left p {
    margin: 30px 0;
  }

  .class-service

  .hero-right-image img {
    width: 300px;
  }
}

.class-service {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
}

.service-child {
  height: 70vh;
  width: 60vw;
  background-color: rgb(182, 175, 182);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.child2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: auto;
  width: 13vw;
  background-color: rgb(244, 247, 244);
  border-radius: 20px;
  padding: 5px;
}

.child2 {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.para2 {
  text-align: center;
  font-size: larger;
}

#icon {
  font-size: 30px;
}

.child2-content p {
  font-size: larger;
}
.para1 {
  font-size: x-large;
  font-weight: bold;
}


